body {
  font-family:arial, sans-serif;
  margin:0;
  padding:0;
  background: #f1f3f4;
}
.navbar {
  display:flex;
  align-items:center;
  justify-content: center;
  background: #ff4d4f;
  padding: 12px 16px;
  color:#fff;
}
.nav-icon {
  width: 22px;
  margin-right: 8px;
}
.nav-title{
  font-weight:bold;
}
.card {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
}
